
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="#"><i class="fa fa-arrow-left fa-1x" aria-hidden="true" ng-click="back()"></i></a>   Ciudades</h1>
    </div>
</div>
<!-- /.row -->
<div class="row">

</div>
